/*
HMart: Michelle Lo, Annabel Zhang, Rachel Xiao, Tina Nguyen (PHK, Mang, Mooana, Lola)
SoftDev
P02: Four Toppings Boba Shop
2022-03-08 */

.navbar-light .navbar-nav .nav-link {
    color: black;
    text-decoration: underline;
    font-size: 1.3rem;
    font-weight: bold;
}

.bg-light{
  background-color:#c6ecff !important
}

body{
  background-color: #ede2d4;
}
