/*
HMart: Michelle Lo, Annabel Zhang, Rachel Xiao, Tina Nguyen (PHK, Mang, Mooana, Lola)
SoftDev
P02: Four Toppings Boba Shop
2022-03-08 */

body {
  font-size: 45px;
  background-image: url(../img/bbt_bkgd.png);
  background-repeat: repeat-tile;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 1.3rem;
}

.bg-light{
  background-color: #c6ecff !important
}

a {
  color: black;
}

html {
  background-image: url(../img/bbt_bkgd.png);
  background-repeat: repeat-tile;
}

.user-title {
  margin-top: 40px;
  border-radius: 25px;
  background-color: white;
  width: 20vw;
  height: 10vh;
}

.col {
  height: 25vh;
}

button a:hover {
  color: gray;
}
