/*
HMart: Michelle Lo, Annabel Zhang, Rachel Xiao, Tina Nguyen (PHK, Mang, Mooana, Lola)
SoftDev
P02: Four Toppings Boba Shop
2022-03-08 */

.page {
  background-color: #c6ecff;
}

.card {
  padding: 15px;
  width: 500px !important;
  /* centering */
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.loginPic {
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
}
