<!--
HMart: Michelle Lo, Annabel Zhang, Rachel Xiao, Tina Nguyen (PHK, Mang, Mooana, Lola)
SoftDev
P02: Four Toppings Boba Shop
2022-03-08 -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">

    <title>About</title>
  </head>
  <center>
  <heading><b>
     <div class="col-auto">
    What is Four Toppings?
  </heading></b>
  <br><br>
  <body>  <div class="col-auto">
    Four Toppings is a top rated bubble tea shop around the world. We have a Michellin Star and
    multiple nominations for "Best Tea Shop" from newspapers like the New York Times. We strive
    to use the highest quality ingredients and to provide the best customer service to our beloved
    fans.
  </body>
  <br><br>
  <heading><b>
    How can I help?
  </heading></b>
  <br><br>
  <body>
    You can help us run Four Toppings all by yourself! You take orders from our customers, pour teas and
    add toppings accordingly, and serve! Not to mention, you also have to keep track of the supplies you
    have and make sure you don't run out, or else we'll get an angry review :(
<br><br>
    Make sure to make an account to save your progress, and we can help you figure out what to do along
    the way!
</center>
    <a href="/login">Back to login</a><br>
    <a href="/signup">Create New Account</a>
</body>
</html>
