<!--
HMart: Michelle Lo, Annabel Zhang, Rachel Xiao, Tina Nguyen (PHK, Mang, Mooana, Lola)
SoftDev
P02: Four Toppings Boba Shop
2022-03-08 -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Counter</title>
  </head>

  <body>
    <div>
      <!-- Button Nav -->
      <form method="POST" action="/game">
        <input type="submit" id="counterStage" name="stage" value="Counter"></input>
        <input type="submit" id="shopStage" name="stage" value="Shop"></input>
      </form>
    </div>

    <!-- Different pages can have different buttons -->
    <button id="passBtn">Pass</button>
    <p>{{order}}</p>

    <div>
      <canvas width="500" height="500" id="counter"></canvas>
      <canvas width="500" height="500" id="background"></canvas>
    </div>


  </body>


  <style>
    canvas { position: absolute; border: 1px solid black }
    #counter { z-index: 2; }
    #background { z-index:1; }

  </style>

  <Script src="../static/js/counter.js"></script>

</html>
