<!--
HMart: Michelle Lo, Annabel Zhang, Rachel Xiao, Tina Nguyen (PHK, Mang, Mooana, Lola)
SoftDev
P02: Four Toppings Boba Shop
2022-03-08 -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Game</title>
  </head>

  <body>
    <a href="/logout" class="nav-item nav-link" style = "font-size: 1.3rem">Logout</a><br>
    <canvas width="500" height="500" id="counter"></canvas>
    <canvas width="500" height="500" id="background"></canvas>
  </body>

  <style>
    canvas { position: absolute; border: 1px solid black }
    #counter { z-index: 2; }
    #background { z-index:1; }

  </style>

  <Script src="../static/js/index.js"></script>

</html>
