<!--
HMart: Michelle Lo, Annabel Zhang, Rachel Xiao, Tina Nguyen (PHK, Mang, Mooana, Lola)
SoftDev
P02: Four Toppings Boba Shop
2022-03-08 -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/game.css">

    <title>Kitchen</title>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a href="/" class="navbar-brand"><img style="height: 4rem;" src="https://i.postimg.cc/x1Tdz9YZ/flag-removebg-preview.png"></a>
        <!--Navigation Bar content -->
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
            <a href class="nav-item nav-link">Four Toppings</a>
          </div>
          <div class="navbar-nav ms-auto">
            <a href="/logout" class="nav-item nav-link">Logout</a>
          </div>
        </div>
      </div>
    </nav>


    <div>
      <center>
      <!-- Button Nav -->
        <form method="POST" action="/game">
          <input type="submit" id="counterStage" name="stage" value="Counter"></input>
          <input type="submit" id="kitStage" name="stage" value="Kitchen"></input>
          <input type="submit" id="shopStage" name="stage" value="Shop"></input>
        </form>
      </center>
    </div>


    <div style="padding-bottom: 550px;">
      <canvas width="960" height="540" id="counter"></canvas>
      <canvas width="960" height="540" id="kitchen"></canvas>
      <canvas width="960" height="540" id="drink"></canvas>
    </div>

    <center>
      <!-- Different pages can have different buttons -->
      <button id="countStage">Counter</button>
      <button id="kitchenStage">Kitchen</button>
    </center>
<!-- tea buttons -->
  <div style = "z-index: 5; position:absolute; left: 21vw; top: 62vh; opacity:0">
    <button onclick="drawMilkTea()" id = "milkTea">+ milktea</button>
  </div>

  <div style = "z-index: 5; position:absolute; left: 27vw; top:62vh; opacity:0">
    <button onclick="drawGreenTea()" id = "greenTea">+ greentea</button>
  </div>

  <div style = "z-index: 5; position:absolute; left: 22vw; top: 56vh; opacity:0">
    <button onclick="drawTaroTea()" id = "taroTea">+ tarotea</button>
  </div>

  <div style = "z-index: 5; position:absolute; left: 28vw; top: 56vh; opacity:0">
    <button onclick="drawOolongTea()" id = "oolongTea">+ oolong</button>
  </div>

<!-- topping buttons -->
  <div style = "z-index: 6; position:absolute; left: 41vw; top: 46vh; opacity:0">
    <button onclick="drawLycheeJelly()" id = "lycheeJelly">+ lychee</button>
  </div>

  <div style = "z-index: 6; position:absolute; left: 38vw; top: 63vh; opacity:0">
    <button onclick="drawTapioca()" id = "tapioca">+ tapioca</button>
  </div>

  <div style = "z-index: 6; position:absolute; left: 51vw; top: 46vh; opacity:0">
    <button onclick="drawRedBean()" id = "redBean">+ red bean</button>
  </div>

  <div style = "z-index: 6; position:absolute; left: 73vw; top: 76vh;">
    <button onclick="clearDrink()" class="btn btn-danger" id = "clearDrink">Restart Drink</button>
  </div>


  </body>

  <!-- <script>
    function milkTea(){
      img3.addEventListener("load", () => {
        ctx2.drawImage(img3, 0, 0)
      });
    }
  </script> -->

  <style>
    canvas { position: absolute; border: 1px solid black; top:50%; left:50%; transform:translate(-50%,-50%) }
    #drink { z-index: 4; }
    #counter { z-index: 2; }
    #kitchen { z-index: 1; }

  </style>

  <Script src="../static/js/kitchen.js"></script>

</html>
