<!--
HMart: Michelle Lo, Annabel Zhang, Rachel Xiao, Tina Nguyen (PHK, Mang, Mooana, Lola)
SoftDev
P02: Four Toppings Boba Shop
2022-03-08 -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/profile.css">

    <title>Profile</title>
  </head>

  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a href="/" class="navbar-brand"><img style="height: 4rem;" src="https://i.postimg.cc/x1Tdz9YZ/flag-removebg-preview.png"></a>
        <!--Navigation Bar content -->
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
            <a href="/users" class="nav-item nav-link" style="font-size: 1.3rem">Users</a>
          </div>
          <div class="navbar-nav ms-auto">
            <a href="/logout" class="nav-item nav-link" style="font-size: 1.3rem">Logout</a>
          </div>
        </div>
      </div>
    </nav>

    <center>
      {{username}}'s Profile
    </center>
    <div class="container" style="margin: 50px;">
      <div class="row">
        <center class="col">
          Drinks Made:<br>
          <img src="https://i.postimg.cc/fLpJbdp2/boba.png" style="height: 200px; margin-top: -50px; margin-bottom: -50px">{{drinks}}
        </center>
        <center class="col">
          Balance:<br>
          <img src="https://i.postimg.cc/vBnwy6st/image.jpg" style="height: 100px; margin-right: 50px;">{{balance}}
        </center>
      </div>
    </div>
    <center>
      <button class="btn"><a href="/counter">Play</a></button>
    </center>
  </body>
</html>
