<!--
HMart: Michelle Lo, Annabel Zhang, Rachel Xiao, Tina Nguyen (PHK, Mang, Mooana, Lola)
SoftDev
P02: Four Toppings Boba Shop
2022-03-08 -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Signup</title>
  </head>

  <body>
    <form method="POST" action="/signup">
      <label>Username</label>
      <input type="text" id=newusername" name="newusername"><br>
      <label>Password</label>
      <input type="password" id="newpassword" name="newpassword">
      <label>Confirm Password</label>
      <input type="password" id="newpassword1" name="newpassword1">
      <input type="submit" value="Register"></input>
    </form>
  </body>
</html>
